<app-header></app-header>
  <div class="search-hero">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Search your business here...........">
  </div>
<table class="table table-hover">

  <thead>
      <tr>
          <td>##</td>
        <td>Person Name</td>
        <td>business Name</td>
        <td>GST number</td>
        <td>Profile</td>
        <td colspan="1">Actions</td>
        <td colspan="4"><button [disabled]="!disableCheckbox" (click)="deleteBusinessAll()" class="btn btn-danger color">Delete Selected</button></td>
      </tr>

  </thead>
  <tbody>
    <tr *ngFor="let business of businessess | filter:searchText ;let i=index"> 
    <td> <input type="checkbox" [checked]="business.checked" (click)="changeCheck($event,i)"></td> 
      <td>{{business.person_name}}</td>
      <td>{{business.business_name}}</td>
      <td>{{business.business_gst_number}}</td>
      <td> <img src="{{business.image}}"></td>
      <td><button [disabled]="!business.checked" [routerLink]="['edit',business._id]" class="btn btn-primary color">Edit</button></td>
      <td><button [disabled]="!business.checked"  (click) = "deleteBusiness(business._id)" class="btn btn-danger color">Delete</button></td>

    </tr>
  </tbody>
</table>