.color{
    color:#fff !important;
}
.search-hero {
    max-width: 60%;
    padding-bottom: 50px;
    margin:auto;
  }
  
  .form-control {
    box-shadow: 0 10px 10px 0 #B0C1D9;
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }
  .height_width{
    height:60px;
    width:100px;  
  }
  .align_center{
    text-align: center; 
  }