input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
 
input[type="number"] {
    -moz-appearance: textfield;
}

// input[type="file"]{
//     visibility:hidden;  
// }
.imagePreview{
    height: 5rem;
    margin: 1rem 0;
}
.imagePreview img{
    height:100%
}